pre,textarea,body,input,td,tr,p {
	background-color: white !important;
	background-image: none !important;
	color: black !important;
}

div {
	background-color: white !important;
	background-image: none !important;
	color: black !important;
}

h1,h2,h3,h4 {
	background-color: white !important;
	color: black !important;
}

a {
	color: #5050f0 !important;
}
